body {
  /* background-color: lightskyblue; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.navigation {
  margin: 10px;
}
.navigation > a {
  color: lime;
  padding-right: 30px;
}


.video-name, .video-name > a{
  font-size: 1.4rem;
  margin-top: 30px;
  color: white;
}
.video-notes {
  font-style: italic;
  color: lightblue;
  margin-top: -10px;
}
.video-url {
  width: 50ch;
  color: rgb(73, 150, 73);
  font-size: .8rem;
}


.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 4px; */
}

.video-details {
  width: 40%;
}